---
import Layout from '../../../layouts/Layout.astro';
import EdgeFunctionExplainer from '../../../components/EdgeFunctionExplainer.astro';
---

<Layout title="Not Player GTKPS">
    <h1 class="mb-10">You&apos;re Not Player GTKRPS</h1>
    <EdgeFunctionExplainer />
</Layout>
