---
import Layout from '../../../layouts/Layout.astro';
import EdgeFunctionExplainer from '../../../components/EdgeFunctionExplainer.astro';
---

<Layout title="You Are Player GTKRPS">
    <h1 class="mb-10">You Are Player GTKRPS!</h1>
    <EdgeFunctionExplainer />
</Layout>
