---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
New Server GTPS [Growtopia Private Server] By OneDev

Join us and playing together
`;
---

<Layout title="Welcome to Growtopia Korea Private Server">
    <h1 class="mb-10">Growtopia Korea Private Server</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="https://discord.com/channels/1424595866680955063/1425210157503217856" class="btn btn-lg sm:min-w-64">How To Play</a>
    </p>
</Layout>
